<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
::placeholder {
  color: rgb(21, 255, 0);
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12-18 */
  color: red;
}

</style>
</head>
<body>

<p>Change the placeholder color:</p>

<input type="text" placeholder="A red placeholder text..">
<script>
  //To create the  Regex
  //  1st method -using the literal
  const literalRegExp=/^a...d$/
  console.log(literalRegExp.test("axxxd"))

  // 2nd method- using the function constructor
  const regex = new RegExp(/^a...s$/);
  console.log(regex.test('alias'));      // true


  const string="Do not talk to anyone";
  const pattern=/talk/;
  const result1=string.search(pattern)
  console.log("Matching pattern start index value print:",result1)


  const string1="Find me Find me Find me FIND ME";
  const pattern1=/me/
  const pattern2=/me/g
  const result2=string1.replace(pattern1,"hello")
  const result3=string1.replaceAll(pattern2,'NEW')     
  const result4=string1.replace(/me/i,"find")          //case-insensitive
  const result5=string1.replace(/me/gi,"me here,")     //global case-insensitive
  const result6=string1.replace(/ME/m)                 // case-sensitive
  console.log(result2)
  console.log(result3)
  console.log(result4)
  console.log(result5)
  console.log(result6)

  // To check the mobile number pattern.....
  //check the mobile number start with 8 or 9 and total contain digits 10 

 const mobilePattern =/^[89][0-9]{9}$/;
 let number="9926477727"
console.log(mobilePattern.test(9926477727));  
console.log(number.match(mobilePattern))          //  return index,input ,groups  otherwise it return null;
console.log(mobilePattern.exec(number))          //  return index,input ,groups  otherwise it return null;

 

// To check the patter for a Specific name.....
   // First chracter of name in Upper case ,contains lower case alphabets and also cantains at least one digit.

   const namePattern=/^[A-Z][a-z \S]*[0-9][a-z \S]*$/
   console.log(namePattern.test("Vishal11 Maheshwari"))
   console.log("Vishal Maheshwari".split(/[\s,]+/))

   const namePattern2 = /^(?!(.*[0-9]){2})[A-Z][a-z \S]*[0-9]?[a-z \S]*$/
console.log(namePattern2.test("Vishal00 Maheshwari"))



   //To check the Email ID....
     const emailPattern=/[a-z A-z 0-9 _]+[@][a-z]+[\.][a-z]{2,3}/

    console.log(emailPattern.test("VisAl20497@gmail.com"))





  




</script>

</body>
</html>
